<ion-header>
  <ion-toolbar>
    <ion-title>Campañas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
<ion-item *ngFor='let campaign of campaigns' [routerLink]="['/campaigns',campaign.id]">
<ion-avatar slot="start">
  <ion-img [src]="campaign.imageURL"></ion-img>
</ion-avatar>
<ion-title>[{{ campaign.code }}] {{ campaign.title }} </ion-title>
</ion-item>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addNewCampaign()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
